@import './normalize.less';

@import './adapter.less';

@import './font.less';

@import './global.less';

body {
	margin-bottom: 127 / 54rem;
	background-color: #F5F5F5;
}

.viewport {
	width: 100%;
	max-width: 1080 / 54rem;
	margin: 0 auto;
	overflow: hidden;

	// 头部
	.top {
		width: 1080/54rem;
		height: 480/54rem;
		background: url('../images/bg.png') no-repeat;
		background-size: 1080 / 54rem auto;
		.toplogo {
			width: 390/54rem;
			margin:0 345/54rem;
			padding-top: 46 / 54rem;
		}
		
		.search {	
			position: relative;
			width: 100%;
			padding: 0 39 / 54rem;
			margin-top: 44 /54rem;

			input {
				display: block;
				width: 998/54rem;
				height: 108/54rem;
				border: none;
				border-radius: 16rem / 54;
				box-sizing: border-box;
				font-size: 40 / 54rem;
				font-family: microsoft-yahei;
				text-indent: 130 / 54rem;
				color: #000;
				-webkit-input-placeholder{color: #000;opacity:1;}; 
			}

			.glass {
				position: absolute;
				left: 94 / 54rem;
				top: 30 / 54rem;
				display: inline-block;
				width: 50 / 54rem;
				height: 50 / 54rem;
				background: url('../images/search.fw.png') no-repeat;
				background-size: 50 / 54rem 50 / 54rem;
			}
		}

		.menu {
			// display: flex;
			width: 938 / 54rem;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			margin-top: 28 / 54rem;
			a {
				display: inline-block;

				img {
					height: 59 / 54rem; 
				    margin: 0 auto;
				}
				span {
					display: block;
					color: #fff;
					font-size: 32 / 54rem;
					margin-top: 10 / 54rem;
				}
			}

		}
	}

	//上半部分商品信息
	.topmsg {
        padding: 0 30rem / 54;
		background-color: #fff;

	 	.title {
			position: relative;
			height: 110 / 54rem;
			line-height: 110 / 54rem;

			span {
				font-size: 40 / 54rem;
			}
			.more {
				position: absolute;
				right: 0;
				top: 0;
				font-size: 32 / 54rem;
				color: #BBBBBB;
			}
	 	}

	 	.topcontent {
			
			.item {
				width: 1033 /54rem;
				border-top: 1px solid #FFA7A4;
				padding-top: 20 / 54rem;
				// padding-bottom: 20 / 54rem;
				&:nth-child(2) {
				border-top: 1px solid #ccc;
				}

				&:nth-child(3) {
				border-top: 1px solid #ccc;
				}

		 		.co {
		 			display: inline-block;
		 			width: 190 / 54rem;
		 			height: 190 / 54rem;
					float: left;
		 		}

		 		.meta {
					margin-left:200 / 54rem;
					
					padding-bottom: 20 / 54rem;
					.logolink {
						// display: block;
						font-size: 36 / 54rem;
						color: #656565;
					}
					
					p {
						font-size: 32 / 54rem;
						color: #878787;
						margin-top: 14 / 54rem;
					}

					.msglink {
						font-size: 32 / 54rem;
						color: #2B83CD;
						margin-top: 14 / 54rem;
					}
		 		}

		 		// .bgfont1 {
					// display: block;
					// width: 42 / 54rem;
					// height: 52 / 54rem;
					// background: url('../images/sprites.png') 0 238px no-repeat;
		 		// }
		 	}
	 	}
	 }
 	// 轮播
	 .swipe {
	 	margin-top: 24 /54rem;
	 	margin-bottom: 26 /54rem;
	 }

 	// 下半部分信息
	.downmsg {
        padding: 0 30rem / 54;
		background-color: #fff;


	 	.dtitle {
				position: relative;
				height: 110 / 54rem;
				line-height: 110 / 54rem;

			span {
				font-size: 40 / 54rem;
			}
			.more {
				position: absolute;
				right: 0;
				top: 0;
				font-size: 32 / 54rem;
				color: #BBBBBB;
			}
	 	}

	 	.downcontent {
			
			.item {
				width: 1033 /54rem;
				border-top: 1px solid #FFA7A4;
				padding-top: 20 / 54rem;
				padding-bottom: 20 / 54rem;

				&:nth-child(2) {
				border-top: 1px solid #ccc;
				}

				&:nth-last-child(1) {
				border-top: 1px solid #ccc;
				}

		 		.co {
		 			display: inline-block;
		 			width: 190 / 54rem;
		 			height: 190 / 54rem;
					float: left;
		 			// img {
		 			// 	height: 187 / 54rem;
		 			// }
		 		}

		 		.meta {
					margin-left:200 / 54rem;

					.logolink {
						// display: block;
						font-size: 36 / 54rem;
						color: #656565;
					}
					
					p {
						font-size: 32 / 54rem;
						color: #878787;
						margin-top: 14 / 54rem;
					}

					.msglink {
						font-size: 32 / 54rem;
						color: #2B83CD;
						margin-top: 14 / 54rem;
					}
		 		}

		 		.bgfont1 {

		 		}
		 	}
	 	}
	 }

	 // 底部tab
		.tab {
			width: 880 / 54rem;
			height: 127 / 54rem;
			border-top: 1px solid #CD3A31;
			position: fixed;
			bottom: 0;
			padding: 0 100 / 54rem 0 100 / 54rem;
			display: flex;
			justify-content: space-between;
			background-color: #fff;

			a {
				// flex:1;
				padding-top: 20 / 54rem;
				color: #A9A9A9;
				text-align: center;
				span {
					font-size: 28 / 54rem;
					display: block;
					margin-top: 4 / 54rem;
				}
			}

		}

 	.topcontent, .downcontent {

 		.item {
 			position: relative;

 			&:nth-child(-n+3):after {
 				content: '';
 				position: absolute;
 				top: 20rem / 54;
 				right: 30rem / 54;

 				display: block;
 				width: 70rem / 54;
 				height: 70rem / 54;
 				background-size: auto 100%;
 				background-repeat: no-repeat;
 				background-position: center;
 			}

 			&:nth-child(1):after {
 				background-images: url(../images/fire_1.png);
 			}

  			&:nth-child(2):after {
 				background-images: url(../images/fire_2.png);
 			}

 			&:nth-child(3):after {
 				background-images: url(../images/fire_3.png);
 			}
 		}
 	}
}